body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

#caixa{
    margin: 30px;
    margin-left: 100px;
    float: left;
    display: block;
    border-style: none;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    width: 321px;
    height: 580px;
    box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 33px 0px rgba(0,0,0,0.75);
}
#X{
    margin-top: 10px;
    margin-left: 85%;
    display: block;
    float: left;
}

input#X{
    width: 50px;
    height: 50px;
    margin: 0;
    font-size: x-large;
    background-color: transparent;
    color: grey;
    
}

.Head{
    font-size: xx-large;
    color: #155696
}

fieldset{
    float: left;
    border-style: none;
    
}

input{
    background-color: gainsboro;
    margin-left: 10px;
    margin-top: 5px;
    border-style: none;
    height: 35px;
    width: 250px;
}

legend{
    margin: 20px;
}

#usuario{
    float: left;
    display: block;
    margin: 10px;
}

label#nome{
    margin-left: 10px;
}

label#password{
    margin-left: 10px ;
}

#senha{
    float: left;
    display: block;
    margin: 10px;
}

input#entrar{
    float: left;
    display: block;
    margin: 20px;
    background-color: #155696;
    color: white;
    height: 40px;
    font-size: 15px;
}



#exibi{
    float: left;
    margin-left: 48%;
}

label#exibirsenha{
    display: block;
    height: 15px;
    width: 200px;
    margin-top: 3px;
    margin-bottom:10px ;
}

input#botaosenha{
    float: left;
    display: block;
    width: 14px;
    height: 14px;
}



a#naopossui{
    float: left;
    display: block;
    padding-top: 0px;
    margin-left: 75px;
}

a#criarnova{
    float: left;
    display: block;
    padding-top: 15px ;
    margin-left: 72px;
    font-weight: bolder;
    color: #155696;
}

div#textosfinais{
    float: left;
    margin-top: 3px;
}

a{
    text-decoration: none;
    
}
a:visited{
    color: grey;
}